

.main {
	margin: auto;
	width: 1100px;
}


.container {
	display: flex;
	border: 1px;
	border-color: black;
	border-style: solid;
	flex-grow: 1;
	padding: 3px;
	margin-bottom: 5px;
}

.board {
	border: 1px;
	border-style: solid;
	border-color: black
}

#prio {
	flex: 2;
}

input[type=text] {
	background-color: pink;
}


label {
	margin-right: 5px;
}


p {
	display: inline-flex;
	flex: 1 1 auto;
/*	border: 1px;
	border-style: solid;
	border-color: black;*/
}

input {
	flex-grow: 1;
	margin-right: 5px;
}

.date {
	padding-right: -500px;
}

#siblings {
	width: 100%;
}

#below {
	flex-direction: column;
}

#gender {
	flex: 1 1 auto;
	margin-right: 50px;
}

#birth {
	flex: 7 1 auto;
}

#language {
	flex: 1 1 auto;
	margin-right: 50px;
}

#reason {
	flex: 4 1 auto;
}

#higher {
	margin-top: -15px;
}

#no_board {
	border: none;
}

#f_start {
	align-items: flex-start;
}

#f_end {
	align-items: flex-end;
}

#medical {
	align-items: flex-end;
}

#blank {
	flex: 7 1 auto;
}

#epipen {
	margin-left: 20px;
	margin-right: 20px;
	flex: 1 1 auto;
}


#status {
	margin-top: -20px;
}

#perm_resident {
	margin-left: 82px;

}

#try {
	margin-left: -3px;
}
